
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
 @await Component.InvokeAsync("_AdminLayoutHeadComponentPartial")
<body>
	<div class="pre-loader">
		<div class="pre-loader-box">
			<div class="loader-logo"><img src="~/deskapp2-master/vendors/images/deskapp-logo.svg" alt=""></div>
			<div class='loader-progress' id="progress_div">
				<div class='bar' id='bar1'></div>
			</div>
			<div class='percent' id='percent1'>0%</div>
			<div class="loading-text">
				Yükleniyor...
			</div>
		</div>
	</div>

	<div class="header">
		<div class="header-left">
			<div class="menu-icon dw dw-menu"></div>
			<div class="search-toggle-icon dw dw-search2" data-toggle="header_search"></div>
			<div class="header-search">
			
					<div class="form-group mb-0">
						<i class="dw dw-search2 search-icon"></i>
						<input type="text" class="form-control search-input" placeholder="Ara....">
						<div class="dropdown">
							<a class="dropdown-toggle no-arrow" href="#" role="button" data-toggle="dropdown">
								<i class="ion-arrow-down-c"></i>
							</a>
							
						</div>
					</div>
		
			</div>
		</div>
		
	</div>



	@await Component.InvokeAsync("_AdminLayoutSidebarComponentPartial")
	<div class="mobile-menu-overlay"></div>

	<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
				@RenderBody()
			
			</div>
			
		</div>
	</div>
	<!-- js -->
	@await Component.InvokeAsync("_AdminLayoutScriptComponentPartial")
</body>
</html>