@using MongoDbProject.Dtos.SellingDtos
@model List<ResultSellingDto>
<section class="py-5 overflow-hidden">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="section-header d-flex flex-wrap justify-content-between my-5">

                    <h2 class="section-title">En Çok Satanlar</h2>

                    <div class="d-flex align-items-center">
                        <a href="#" class="btn-link text-decoration-none">Listeyi Gez →</a>
                        <div class="swiper-buttons">
                            <button class="swiper-prev products-carousel-prev btn btn-primary">❮</button>
                            <button class="swiper-next products-carousel-next btn btn-primary">❯</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="products-carousel swiper">
                    <div class="swiper-wrapper">

                        @foreach (var item in Model)
                        {

                            <div class="product-item swiper-slide">
                                <a href="#" class="btn-wishlist"><svg width="24" height="24"><use xlink:href="#heart"></use></svg></a>
                                <figure>
                                    <a href="index.html" title="Product Title">
                                        <img src="@item.ProductImageUrl" style="width:280px;height:200px;" class="tab-image">
                                    </a>
                                </figure>
                                <h3>@item.Product.ProductName</h3>
                                <span class="qty"></span><span class="rating"><svg width="24" height="24" class="text-primary"><use xlink:href="#star-solid"></use></svg> 4.5</span>
                                <span class="price">@item.Price TL</span>

                            </div>
                            <br />

                        }


                     
                    </div>
                </div>
                <!-- / products-carousel -->

            </div>
        </div>
    </div>
</section>