@using MongoDbProject.Dtos.FeatureDtos
@model GetByIdFeatureDto
@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="pd-20 card-box mb-30">
	<div class="clearfix">
		<div class="pull-left">
			<h4 class="text-blue h4">Öne Çıkanları Ekleme Sayfası</h4>
			<p class="mb-30"></p>
		</div>

	</div>
	<form method="post">
		<input type="hidden" asp-for="FeatureID" />
		<div class="form-group row">
			<label class="col-sm-12 col-md-2 col-form-label">Başlık</label>
			<div class="col-sm-12 col-md-10">
				<input class="form-control" asp-for="Title" type="text" placeholder="">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-12 col-md-2 col-form-label">Alt Başlık</label>
			<div class="col-sm-12 col-md-10">
				<input class="form-control" asp-for="Subtitle" type="text" placeholder="">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-12 col-md-2 col-form-label">Resim Yolu</label>
			<div class="col-sm-12 col-md-10">
				<input class="form-control" type="text" asp-for="ImageUrl" placeholder="">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-12 col-md-2 col-form-label">Açıklama</label>
			<div class="col-sm-12 col-md-10">
				<textarea class="form-control" asp-for="Description" rows="8"></textarea>
			</div>
		</div>
		<button type="submit" class="btn btn-outline-success">Ekle</button>
	</form>

</div>
