<section class="py-5">
    <div class="container-fluid">

        <div class="bg-secondary py-5 my-5 rounded-5" style="background: url('/FoodMart-1.0.0/images/bg-leaves-img-pattern.png') no-repeat;">
            <div class="container my-5">
                <div class="row">
                    <div class="col-md-6 p-5">
                        <div class="section-header">
                            <h2 class="section-title display-4"><span class="text-primary">25% İndirim</span> İlk Alışverişinize</h2>
                        </div>
                        <p>İlk alışverişinize özel %25 indirim fırsatını kaçırmayın! Sepetinizde avantajlı fiyatlarla tanışmak için hemen sipariş verin.</p>
                    </div>
                    <div class="col-md-6 p-5">
                        <form method="post" asp-action="SendMail" asp-controller="Mail">
                            <div class="mb-3">
                                <label for="name" class="form-label">Adınız</label>
                                <input type="text"
                                       class="form-control form-control-lg" name="name"  placeholder="Emanuel İcardi">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Email Adresiniz</label>
                                <input type="email" class="form-control form-control-lg" name="ReceiverMail"  placeholder="abc@mail.com">
                            </div>
                            
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-dark btn-lg">İndirimi Kap</button>
                            </div>
                        </form>

                    </div>

                </div>

            </div>
        </div>

    </div>
</section>