@using MongoDbProject.Dtos.DiscountDtos
@model List<ResultDiscountDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="pd-20 card-box mb-30">
    <div class="clearfix mb-20">
        <div class="pull-left">
            <h4 class="text-blue h4">İndirimler Tablosu</h4>
            <p>İndirimlerinizle Alakalı İşlemlerinizi buradan yapabilirsiniz.</p>
        </div>

    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Resimi</th>
                <th scope="col">Başlık</th>
                <th scope="col">Alt Başlık</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                count++;

                <tr>
                    <td>@count</td>
                    <td><img src="@item.ImageUrl" style="width:70px;height:70px;" /></td>
                    <td>@item.Title</td>
                    <td>@item.Subtitle</td>
                    <td><a href="/Admin/Discount/DeleteDiscount/@item.DiscountID" class="btn btn-outline-danger">Sil</a></td>
                    <td><a href="/Admin/Discount/UpdateDiscount/@item.DiscountID" class="btn btn-outline-success">Güncelle</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/Admin/Discount/CreateDiscount/" class="btn btn-outline-info">Ekleme</a>
</div>