@using MongoDbProject.Dtos.ProductDtos
@model List<ResultProductWithCategoryDto>
<section class="py-5">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">

                <div class="bootstrap-tabs product-tabs">
                    <div class="tabs-header d-flex justify-content-between border-bottom my-5">
                        <h3>En Son Eklenen Ürünler</h3>
                        
                    </div>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">

                            <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">

                                @foreach (var item in Model)
                                {
                                    
                              
                                <div class="col">
                                    <div class="product-item">
                                        <a href="#" class="btn-wishlist"><svg width="24" height="24"><use xlink:href="#heart"></use></svg></a>
                                        <figure>
                                            <a href="index.html" title="Product Title">
                                                <img src="@item.ProductImageUrl" style="width:280px;height:200px;" class="tab-image">
                                            </a>
                                        </figure>
                                        <h3>@item.ProductName</h3>
                                        <span class="qty">@item.Category.CategoryName</span><span class="rating"><svg width="24" height="24" class="text-primary"><use xlink:href="#star-solid"></use></svg> 4.5</span>
                                        <span class="price">@item.ProductPrice TL</span>
                                        
                                    </div>
                                </div>

                                }

                            </div>
                            <!-- / product-grid -->

                        </div>

                       

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>